<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>M.Sc. in Computer Science</h1>
            <span>Universidade Federal de Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2015 to 2017</time></span>
        </header>
        <p>
            <em>Dissertation: Legalização Incremental Utilizando Árvores Multidimensionais para Consultas Espaciais Rápidas</em>
            <span><strong>English Translation:</strong> Incremental Legalization Using Multidimensional Trees for Fast Spatial Queries</span>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Computer Science</h1>
            <span>Universidade Federal de Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2010 to 2014</time></span>
        </header>
        <p>
            <em>Course completion assignment: Avaliação do Impacto de Reconvergências na Qualidade da Solução de Gate Sizing Discreto Usando Programação Dinâmica</em>
        </p>
    </article>
</section>
